In [5]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.1.1-py3-none-any.whl.metadata (24 kB)
Downloading python_dotenv-1.1.1-py3-none-any.whl (20 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.1.1

In [15]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.2/91.2 kB 199.0 kB/s eta 0:00:00 kB/s eta 0:00:01
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.4/12.4 MB 2.3 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Using cached numpy-2.3.3-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.3 pandas-2.3.3 pytz-2025.2 tzdata-2025.2

In [16]:
!pip freeze > requirements.txt

In [1]:
import os
import psycopg2
from dotenv import load_dotenv
import pandas as pd

In [2]:
load_dotenv()
def get_postgresql_connection():
    return psycopg2.connect(
        host=os.getenv('DB_HOST'),
        port=int(os.getenv('DB_PORT', 5432)),
        database=os.getenv('DB_NAME'),
        user=os.getenv('DB_USER'),
        password=os.getenv('DB_PASSWORD')
    )

In [3]:
connection = get_postgresql_connection()

In [6]:
#cursor = connection.cursor()
retrieve_exam_query = "SELECT  app_examen.id as id, app_examen.nom as nom, app_examen.laboratoire_id as labo_id, app_examen.departement_id as depar_id \
                    FROM app_examen INNER JOIN app_laboratoire ON app_examen.laboratoire_id=app_laboratoire.id \
                    where app_examen.laboratoire_id=2"
retrieve_departement_query = "SELECT app_departement.id as id, app_departement.nom as nom\
                    FROM app_departement"
retrieve_provenance_query = "SELECT app_provenance.id as id, app_provenance.nom as nom\
                    FROM app_provenance\
                    WHERE laboratoire_id=2"
retrieve_indice_query = "SELECT app_indice.id as id, app_indice.nom_complet as nom_complet,\
                    app_indice.nom_affiche as nom_affiche, app_examen.laboratoire_id, app_examen.id as examen_id\
                    FROM app_indice\
                    INNER JOIN app_examen_indices ON app_indice.id = app_examen_indices.indice_id\
                    INNER JOIN app_examen\
                    ON app_examen_indices.examen_id = app_examen.id\
                    WHERE app_examen.laboratoire_id =2"
#retrieve_query = "SELECT * FROM app_examen"
#cursor.execute(retrieve_query)

In [7]:
df_examen = pd.read_sql(retrieve_exam_query, connection)

/tmp/ipykernel_45515/229822800.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_examen = pd.read_sql(retrieve_exam_query, connection)

In [10]:
df_examen
for index, exam in df_examen.iterrows():
    print(exam["id"], exam["nom"], exam["depar_id"])

104 Groupage Sanguin et Rhésus 1
105 GE/DP 11
106 Calcémie 3
107 Magnésémie 3
108 Iono(Na, K, Cl) 3
109 Urée 3
110 CRP 12
111 ASLO 12
112 Glycémie à jeun 3
113 Glycémie pp 3
114 Créatininémie 3
115 Triglycérides 3
117 Cholestérol HDL 3
119 Uricémie 3
120 Transaminase GOT 3
121 Transaminase  GPT 3
122 GAMMA- GT 3
123 Phosphorémie 3
124 Phosphatase alcaline 3
127 Bilirubine conjuguée 3
128 Ag HBS 12
129 TBG sérique 12
130 Procalcitonine (PCT) 7
132 Ac anti-HVC 12
134 Nombre de globules blancs 6
135 Numération des plaquettes 1
136 Numération des réticulocytes 6
137 Beta HCG 9
138 TPHA 12
139 Bandelette Urinaire(BU) 4
140 TP 8
141 Thyréostimuline Hypophysaire(TSH) 3
126 Bilirubine totale 3
131 Chlamydiae 12
118 Cholestérol LDL 3
116 Cholestérol Total 3
103 Electrophorèse de l'hémoglobine 1
125 Protidémie 3
142 TCK 8
144 Test d'Emmel 6
145 PSA Total 3
146 Free Thyroxine Totale(FT4) 3
147 Capacité de Fixation 3
149 G6PDH 3
151 Amylasémie 3
152 CPK 3
154 Albumine Sérique 3
155 Lipasémie 3
156 HbA1C 3
157 Taux d'hémoglobine 6
158 Taux d'hématocrite 6
160 PSA Libre 2
162 HIV 12
163 SDW 12
164 NFS 6
166 NFS+Plaquettes+Réticulocytes 6
170 Spermocytogramme 10
179 T3 3
197 ACE 7
198 AFP 3
167 Antibiogramme 10
182 Anti-thyroglobine 3
195 IgE 7
178 Biochimie du LCR 13
206 CA 19-9 3
133 D-dimères 3
196 Pro BNP 7
173 Rubéole 12
168 ECBU 10
150 Croprologie parasitaire 11
181 Anti-récepteur de la TSH(ATSHR) 3
183 Anti-thyroperoxydase 3
200 CA 125 7
205 CA 15-3 3
204 Calcémie Urinaire 4
199 Cortisolémie 7
207 Créatine Urinaire 4
177 ECB du LCR 13
188 Estradiol E2 3
189 Estrone E1 3
192 Ferritinémie 3
193 Fer Sérique 3
159 Free Tri-IodoThyronine(FT3) 2
185 FSH 3
169 Hémoculture 10
202 Iono urinaire(Na, K, Cl ) 4
186 LH 3
153 LDH 3
203 Magnésémie Urinaire 4
176 Micro Albuminurie 3
165 NFS+Plaquettes 6
148 Pourcentage de Saturation 3
187 Progestérone 3
190 Prolactine 3
175 Protéinurie des 24h 2
208 PV+ATB 10
172 Spermoculture 10
171 Spermogramme 10
180 T4 3
184 Testonerémie totale 3
174 Toxoplasmose 12
191 Transferrine 3
161 VDRL 12
201 Vitamine D 3
143 VS 6
194 Troponine I 3

In [11]:
df_departement = pd.read_sql(retrieve_departement_query, connection)

/tmp/ipykernel_45515/3888074652.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_departement = pd.read_sql(retrieve_departement_query, connection)

In [12]:
df_indice = pd.read_sql(retrieve_indice_query, connection)

/tmp/ipykernel_45515/2476038255.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_indice = pd.read_sql(retrieve_indice_query, connection)

In [13]:
df_indice.head()

    id     nom_complet     nom_affiche  laboratoire_id  examen_id
0  299     Hémoglobine     Hémoglobine               2        103
1  300  Groupe Sanguin  Groupe Sanguin               2        104
2  301          Rhésus          Rhésus               2        104
3  302              GE              GE               2        105
4  303              DP              DP               2        105

In [14]:
df_departement.head()

   id                 nom
0   1  IMMUNO-HEMATOLOGIE
1   2           BIOCHIMIE
2   3  BIOCHIMIE SANGUINE
3   4  BIOCHIMIE URINAIRE
4   5       BIOCHIMIE LDP

In [15]:
df_departement_copie = pd.read_csv("app_departement_copie.csv")
df_departement_copie.head()

   id  deleted_at  restored_at                 nom
0   1         NaN          NaN  IMMUNO-HEMATOLOGIE
1   2         NaN          NaN           BIOCHIMIE
2   3         NaN          NaN       PARASITOLOGIE
3   4         NaN          NaN           SEROLOGIE
4   5         NaN          NaN         HEMATOLOGIE

In [16]:
df_patient_copie = pd.read_csv("app_patient_copie.csv")
df_patient_copie.head()

,id,deleted_at,restored_at,nom,prenom,sexe,code,date_naissance,nationalite,numero,cree_par_id,supprime_par_id,date_enregistrement
0,1,NaN,NaN,ZOUNMA,Josias,M,ANV8P5CIUW,2024-10-10,NaN,621392283.0,5,NaN,2024-10-15 21:48:59.701486+01
1,123,NaN,NaN,TOSSOU,Nathalie,F,RG9BFSACLY,NaN,NaN,NaN,6,NaN,2024-10-22 09:15:26.975259+01
2,34,NaN,NaN,BANKOLE,Odilon M.,M,T08OOUNTW8,1990-12-12,NaN,NaN,7,NaN,2024-10-16 10:56:03.706212+01
3,42,NaN,2024-11-01 22:14:50.746063+01,GANDONOU,Romario,M,UETULCM568,NaN,NaN,NaN,1,1.0,2024-10-16 20:12:01.926449+01
4,35,NaN,NaN,LOKOSSOU,Débora,F,XEMI7DM3V3,NaN,NaN,NaN,7,NaN,2024-10-16 12:53:37.813294+01

In [17]:
df_ficheexamen_copie = pd.read_csv("app_ficheexamen_copie.csv")
df_ficheexamen_copie.head()

,id,deleted_at,restored_at,dateFiche,dateTrai,etat,prix,pourcentage,dossier,cree_par_id,traite_par_id,patient_id,provenance_id,supprime_par_id,termine
0,71,2024-10-18 13:30:37.876997+01,NaN,2024-10-18 13:18:50.982519+01,2024-10-18 13:21:14.865117+01,t,NaN,NaN,3,6,6.0,60,1,6.0,t
1,50,NaN,NaN,2024-10-17 11:37:43.370408+01,2024-10-17 11:42:14.680377+01,t,3000.0,NaN,4,6,6.0,48,1,NaN,t
2,767,NaN,NaN,2024-11-14 17:27:55.926606+01,2024-11-14 17:36:49.100296+01,t,5000.0,NaN,8,7,7.0,632,1,NaN,t
3,1,2024-11-27 19:26:18.998852+01,NaN,2024-10-15 21:52:36.761608+01,2024-10-15 22:02:02.011457+01,t,36000.0,NaN,23,5,5.0,1,6,5.0,t
4,34,2024-11-27 19:26:17.906826+01,NaN,2024-10-16 05:29:50.662153+01,2024-10-16 05:30:33.928056+01,t,4000.0,NaN,23,5,5.0,1,1,5.0,t

In [18]:
df_exampatient_copie = pd.read_csv("app_exampatient_copie.csv")
df_exampatient_copie.head()

,id,deleted_at,restored_at,dateExamen,examen_id,fiche_id,patient_id,termine
0,3093,NaN,NaN,2024-12-02 09:37:43.570277+01,11,1150,939,t
1,3092,NaN,NaN,2024-12-02 09:37:43.565711+01,65,1150,939,t
2,3121,NaN,NaN,2024-12-02 12:43:11.407844+01,64,1153,968,t
3,3124,NaN,NaN,2024-12-02 12:43:11.420654+01,43,1153,968,t
4,3160,NaN,NaN,2024-12-02 14:11:23.677781+01,64,1163,977,t

In [19]:
df_indice_copie = pd.read_csv("app_indice_copie.csv")
df_indice_copie.head()

,id,deleted_at,restored_at,nom,unite,min_val,max_val,default,examen_id
0,1,NaN,NaN,Hémoglobine,text,NaN,NaN,NaN,1
1,2,NaN,2024-07-29 11:07:33+01,Groupe Sanguin,text,NaN,NaN,NaN,3
2,3,NaN,NaN,Rhésus,text,NaN,NaN,NaN,3
3,4,NaN,NaN,GE,text,NaN,NaN,NaN,4
4,6,NaN,NaN,Calcémie,mg/L,86.0,102.0,NaN,5

In [20]:
df_indiceresult_copie = pd.read_csv("app_indiceresult_copie.csv")
df_indiceresult_copie.head()

   id deleted_at  restored_at resultat  indice_id  result_exam_id
0   1        NaN          NaN      3.2        310               1
1   2        NaN          NaN        8        283               2
2   3        NaN          NaN    Sperm        284               2
3   4        NaN          NaN     3000        285               2
4   5        NaN          NaN      Ras        286               2

In [21]:
df_examen_copie = pd.read_csv("app_examen_copie.csv")
df_examen_copie.head()

,id,deleted_at,restored_at,nom,prix,supprimable,departement_id,cree_par_id,supprime_par_id
0,2,2024-07-29 10:22:36.744403+01,NaN,Groupe Sanguin et Rhésus,2500,f,1,NaN,NaN
1,3,NaN,2024-07-29 11:07:33.636161+01,Groupage Sanguin et Rhésus,2500,f,1,NaN,NaN
2,4,NaN,NaN,GE/DP,1500,f,3,NaN,NaN
3,5,NaN,NaN,Calcémie,3000,f,2,NaN,NaN
4,6,NaN,NaN,Magnésémie,2500,f,2,NaN,NaN

In [22]:
df_provenance_copie = pd.read_csv("app_provenance_copie.csv")
df_provenance_copie.head()

,id,deleted_at,restored_at,nom,entete,pied_page
0,4,NaN,NaN,Vie abondante,Vie abondante/entete.png,Vie abondante/piedPage.png
1,5,NaN,NaN,Assurance Vie abondante,Assurance Vie abondante/entete.png,Assurance Vie abondante/piedPage.png
2,1,NaN,NaN,Externe,Externe/entete.png,NaN
3,7,NaN,2024-12-26 14:42:37.074018+01,Julien,Julien/entete.png,Julien/piedPage.png
4,2,NaN,NaN,MEDOM,MEDOM/entete.png,MEDOM/piedPage.png

In [23]:
#Faire la correspondance entre les départements de la nouvelle et de l'ancienne base
# {id_nouvelle : id_ancienne}
departement_correspondant = {}
for index, depart_copie in df_departement_copie.iterrows():
    ancienne_id = depart_copie['id']
    if depart_copie['nom'] == "BIOCHIMIE":
        nouveau_depart = df_departement[df_departement["nom"]=="BIOCHIMIE SANGUINE"].iloc[0]
    else:
        nouveau_depart = df_departement[df_departement["nom"]==depart_copie['nom']].iloc[0]
    nouveau_id = nouveau_depart["id"]
    departement_correspondant[ancienne_id] = int(nouveau_id)
print(departement_correspondant)

{1: 1, 2: 3, 3: 11, 4: 12, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 13, 11: 4}

1 1 IMMUNO-HEMATOLOGIE IMMUNO-HEMATOLOGIE
2 3 BIOCHIMIE BIOCHIMIE SANGUINE
3 11 PARASITOLOGIE PARASITOLOGIE
4 12 SEROLOGIE SEROLOGIE
5 6 HEMATOLOGIE HEMATOLOGIE
6 7 IMMUNO-ANALYSE IMMUNO-ANALYSE
7 8 HEMOSTASE HEMOSTASE
8 9 IMMUNOLOGIE IMMUNOLOGIE
9 10 BACTERIOLOGIE BACTERIOLOGIE
10 13 LCR LCR
11 4 BIOCHIMIE URINAIRE BIOCHIMIE URINAIRE

In [70]:
#Faire la correspondance entre les examens de la nouvelle et de l'ancienne base
# {id_nouvelle : id_ancienne}
examen_correspondant = {}
for index, exam_copie in df_examen_copie.iterrows():
    ancienne_id = exam_copie["id"]
    ancienne_nom = exam_copie["nom"]
    ancienne_departid = exam_copie["departement_id"]
    nouveau_exam = df_examen[(df_examen["nom"]==ancienne_nom) & (df_examen["departement_id"]=departement_correspondant[ancienne_id])].iloc[0]
    print(ancienne_id, ancienne_nom, ancienne_departid)

2 Groupe Sanguin et Rhésus 1
3 Groupage Sanguin et Rhésus 1
4 GE/DP 3
5 Calcémie 2
6 Magnésémie 2
7 Iono 2
8 Urée 2
9 CRP 4
10 ASLO 4
11 Glycémie à jeun 2
13 Créatininémie 2
14 Triglycérides 2
16 Cholestérol HDL 2
18 Uricémie 2
19 Transaminase GOT 2
20 Transaminase  GPT 2
21 GAMMA- GT 2
22 Phosphorémie 2
23 Phosphatase alcaline 2
27 Bilirubine conjuguée 2
28 Ag HBS 4
29 TBG sérique 4
31 Chlamydiae 4
34 Nombre de globules blancs 5
38 TPHA 4
39 Bandelette Urinaire(BU) 2
42 TCK 7
43 VS 5
44 Test d'Emmel 5
45 PSA Total  2
61 VDRL 4
62 HIV 4
63 SDW 4
64 NFS 5
66 NFS+Plaquettes+Réticulocytes 5
69 Spermocytogramme 9
70 Spermogramme 9
78 Micro Albuminurie des 24h 2
87 T3 2
88 T4 2
89 Vitamine D 2
26 Bilirubine totale 2
67 Antibiogramme 9
1 Electrophorèse de l'hémoglobine 1
12 Glycémie pp 2
331 Cortisolémie 2
91 ECB du LCR 10
73 Rubéole 4
54 Albumine Sérique 2
51 Amylasémie 2
93 Anti-récepteur de la TSH(ATSHR) 2
94 Anti-thyroglobine 2
95 Anti-thyroperoxydase 2
37 Beta HCG 8
68 ECBU 9
47 Capacité de Fixation 2
17 Cholestérol LDL 2
50 Croproculture 3
33 D-dimères 2
49 G6PDH 2
59 Free Tri-IodoThyronine(FT3) 2
46 Free Thyroxine Totale(FT4) 2
32 Ac anti-HVC 4
80 Estrone E1 2
79 Estradiol E2 2
56 HbA1C 2
53 LDH 2
76 LH 2
35 Numération des plaquettes 5
30 Procalcitonine (PCT) 6
65 NFS+Plaquettes 5
100 Transferrine  2
36 Numération des réticulocytes 5
40 TP 7
41 Thyréostimuline Hypophysaire(TSH) 2
57 Taux d'hémoglobine 5
71 SPERMOCULTURE 9
60 PSA Libre 2
81 Prolactine 2
77 Progestérone 2
48 Pourcentage de Saturation 2
58 Taux d'hématocrite 5
166 Troponine I 2
364 Cortisolémie 6
199 IgE 6
101 Ferritinémie 2
55 Lipasémie 2
133 Fer Sérique 2
232 ACE 6
15 Cholestérol Total 2
24 Protidémie 2
74 Protéinurie des 24h 2
265 AFP 2
72 Toxoplasmose 4
298 Hémoculture    9
90 LCR 10
52 CPK 2
365 Cortisolémie 6
200 Pro BNP 6
92 Biochimie du LCR 10
266 Unexamen 2
397 Iono Urinaire des 24h 11
430 AMH 6
398 Créatininémie Urinaire 11
25 Testostéronémie totale 2
83 CA125 2
82 CA 125 6
75 FSH 2
431 PV+ATB 9

In [ ]:
df_examen1 = df_examen_copie[df_examen_copie['departement_id'] == 2]
df_examen1

In [ ]:
rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
import psycopg2
from psycopg2 import sql

try:
    # Connexion
    connection = psycopg2.connect(
        host="localhost",
        database="nom_base",
        user="utilisateur",
        password="mot_de_passe",
        port="5432"
    )
    
    cursor = connection.cursor()
    
    # Insertion simple
    insert_query = "INSERT INTO produits (nom, prix, quantite) VALUES (%s, %s, %s)"
    cursor.execute(insert_query, ('Laptop', 999.99, 10))
    
    # Insertion avec retour de l'ID généré
    cursor.execute(
        "INSERT INTO produits (nom, prix) VALUES (%s, %s) RETURNING id",
        ('Smartphone', 599.99)
    )
    id_genere = cursor.fetchone()[0]
    print(f"ID généré: {id_genere}")
    
    connection.commit()

except Exception as e:
    print(f"Erreur: {e}")
    connection.rollback()

finally:
    cursor.close()
    connection.close()